/**index.phpのwrapper **/
#wrapper {
background-image:url("bg_img01.png");
background-size:cover;
background-position:center center;
width:1090px;
height:1543px;
position:relative;
font-family: serif;
}

body {
  font-family:serif;
}

/**index2.phpのwrapper **/
#wrapper2 {
background-image:url("bg_img02.png");
background-size:cover;
background-position:center center;
width:1090px;
height:1543px;
position:relative;
font-family: serif;
}

/**フォームが未入力の場合 **/
#blank_message  {
  font-family: 'Noto Sans JP', sans-serif;
  background-color:rgba(255,10,10,1);
  color:#fff;
  position:absolute;
  top:80px;
  left:680px;
  width:400px;
  #max-height:280px;
  font-size:18px;
}

#blank_message p {
  padding:3px 6px ;
  margin:3px 0px;
}

/**会社住所の文字数に応じてフォントサイズを変更**/
.size_change{
  font-size:18px;
}

/** 法人番号 **/
#t1 {
  #border: 3px solid blue;
  height: 30px;
  width: 500px;
  position: absolute;
  left: 430px;
  top: 408px;
  font-size: 24px;
}

/**商号（フリガナ）**/
#t2_1 {
  #border: 3px solid blue;
  height: 18px;
  width: 500px;
  position: absolute;
  left: 430px;
  top: 474px;
  font-size: 12px;
}

/**商号 **/
#t2_2 {
  #border: 3px solid blue;
  height: 24px;
  width: 500px;
  padding:6px 0px 0px 0px;
  position: absolute;
  left: 430px;
  top: 500px;
  font-size: 24px;
}

/**新商号（フリガナ）**/
#t2_3 {
  #border: 3px solid red;
  height: 18px;
  width: 500px;
  position: absolute;
  left: 430px;
  top: 539px;
  font-size: 12px;
}

/**新商号 **/
#t2_4 {
  #border: 3px solid red;
  height: 24px;
  width: 500px;
  padding:3px 0px;
  position: absolute;
  left: 430px;
  top: 567px;
  font-size: 24px;
  background-color:#fff;
}

/**本店住所 **/
#t3 {
  #border: 3px solid blue;
  height: 72px;
  width: 500px;
  padding:3px 0px;
  position: absolute;
  left: 430px;
  top: 620px;
  font-size: 24px;
  background-color:#fff;
}

/**登記すべき事項「商号」の親要素**/
#t4 {
  display:flex;
  flex-wrap:nowrap;
  justify-content:start;
  align-items:flex-start;
  position:absolute;
  left:430px;
  top:728px;
  width:528px;
  height:36px;
  font-size:24px;
}

/**登記すべき事項「商号」の子要素**/
#t4_1 {
  height:24px;
  width:108px;
  padding:3px 0px;
  font-size:24px;
  margin:0px 6px 0px 0px;
}
#t4_2 {
  #border:3px solid red;
  height:24px;
  padding:3px 0px;
  font-size:24px;
  flex:1;
}
/**登記すべき事項「原因年月日」の親要素**/
#t5 {
  display:flex;
  flex-wrap:nowrap;
  justify-content:start;
  align-items:flex-start;
  position:absolute;
  left:430px;
  top:772px;
  width:528px;
  height:36px;
  font-size:24px;
}

/**登記すべき事項「原因年月日」の子要素**/
#t5_1 {
  height:24px;
  width:180px;
  padding:3px 0px;
  font-size:24px;
  margin:0px 6px 0px 0px;
}
#t5_2 {
  #border:3px solid red;
  height:24px;
  padding:3px 0px;
  font-size:24px;
  flex:1;
}

/**登録免許税**/
#t6 {
  #border:3px solid blue;
  height:24px;
  width:108px;
  padding:3px 0px 3px 0px;
  text-align:right;
  font-size:24px;
  position:absolute;
  top:822px;
  left:430px;

}

/**申請年月日**/
#t7{
  #border:3px solid red;
  background-color:#fff;
  height:24px;
  width:256px;
  padding:6px 0px;
  font-size:24px;
  position:absolute;
  top:1124px;
  left:168px;

}

/**申請人**/
#t8 {
  #border:3px solid red;
  height:24px;
  width:500px;
  font-size:24px;
  position:absolute;
  top:1190px;
  left:368px;

}
/**代表取締役**/
#t9 {
  #border:3px solid blue;
  height:24px;
  width:455px;
  font-size:24px;
  position:absolute;
  top:1250px;
  left:412px;

}
/**電話番号**/
#t10 {
  #border:3px solid blue;
  height:24px;
  width:386px;
  font-size:24px;
  position:absolute;
  top:1310px;
  left:480px;

}
/**管轄法務局**/
#t11 {
  #border:3px solid blue;
  height:24px;
  width:128px;
  font-size:18px;
  position:absolute;
  top:1370px;
  left:94px;

}
